<div class="row">
  <div class="col s12 center-align">
    <h4>Bienvenido a Boda.Market</h4>
  </div>
  <div class="col s12">
    <ul class="faq collapsible animated fadeinright delay-3" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="ion-ios-ionic-outline"></i>Information for you</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="ion-ios-bookmarks-outline"></i>Some tips</div>
        <div class="collapsible-body"><p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="ion-ios-football-outline"></i>Places near you</div>
        <div class="collapsible-body"><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="ion-social-buffer-outline"></i>Suggestions</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
      </li>
    </ul>
  </div>
  <div class="col s12">
    <small>En caso de tener dudas recomendamos visitar nuestra pagina de <a href="#">contacto</a> y explicarnos su duda con detalles para poder resolverla</small>
  </div>
</div>
