<div class="row">
  <div class="col s12 center-align">
    <h2>Terminos y Condiciones <br> <small>Boda.Market</small></h2>
  </div>
  <div class="col s12">
    <h4>1. Primer termino</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima aut, corrupti at rerum molestias facilis ad animi, nostrum debitis! Deleniti voluptas assumenda quo, ad saepe provident corrupti et hic!</p>
    <ol>
      <li>Mini punto para griffindor</li>
      <li>Mini punto para griffindor</li>
      <li>Mini punto para griffindor</li>
      <li>Mini punto para griffindor</li>
    </ol>
    <h4>2. Segundo Termino</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima aut, corrupti at rerum molestias facilis ad animi, nostrum debitis! Deleniti voluptas assumenda quo, ad saepe provident corrupti et hic!</p>
    <h4>3. Tercer Termino y ultimo</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima aut, corrupti at rerum molestias facilis ad animi, nostrum debitis! Deleniti voluptas assumenda quo, ad saepe provident corrupti et hic!</p>
  </div>
</div>
