import React, { PropTypes } from 'react';

export default class <%= file_name.camelize %> extends React.Component {
  constructor(props) {
    super(props)
    _.bindAll(this, 'onEvent');
    this.state = {value: '' }
  }
  onEvent(event) {
    this.setState({value:''})
  }
  render() {
    const {value} = this.state
    return (
      <div>
        { value }
      </div>
    );
  }
}
